.fl-builder-content {
	.fl-row-fixed-width {
		max-width: 1140px;
		max-width: rem(1140px);
		width: 95%;
	}
}

.header-row {
	.fl-row-content-wrap {

	}

	.fl-row-content {
		max-width: 1805px;
		max-width: rem(1805px);
	}
}