/* Fonts
---------------------------------------- */
$font-stack-1: 'Montserrat', sans-serif;

/* Susy
---------------------------------------- */

$susy: (
        columns: 12,
        gutters: .25,
        math: fluid,
        output: float,
);

@include breakpoint-set('default feature', 'max-width');

@include border-box-sizing;

$one_six: max-width 1600px;
$one_three: max-width 1300px;
$one_one_two_five: max-width 1125px;
$nine_hundred: max-width 900px;
$seven_six_seven: max-width 767px;
$three_fourty: max-width 340px;





